/eventcenter/target/
/connector/modbus-connector/target/
/eventcenter/src/main/resources/plugins/connect-eventbridge-transform-1.1.0-jar-with-dependencies.jar
/eventcenter/src/main/resources/plugins/connect-filter-transform-1.1.0-jar-with-dependencies.jar
/eventcenter/src/main/resources/plugins/http-connector-0.0.1-SNAPSHOT-jar-with-dependencies.jar
